div.support-request-count-indicator {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.3em;
    background-color: #c5d7cc;
    padding-left: 0.3em;
    min-width: 1em;
    text-align: center;
    cursor: default;
    margin-left: 0.4em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    transition: all ease 0.2s;
}

    div.support-request-count-indicator:hover {
        padding-left: 0.7em;
        margin-left: 0;
        background-color: #b8ccdd;
    }

td.support-group-name {
    font-size: 1.5em;
    background-color: #292929;
    font-family: 'Racing Sans One', cursive;
    color: white;
    text-align: center;
}

.support-request-sub-type-view {
    color: green;
}

.support-request-message {
    white-space: pre-line;
    background-color: #fffdef;
    word-break: break-word;
    max-width: 100%;
    padding: 0.2em;
    border-radius: 0.2em;
    box-sizing: border-box;
}

span.support-request-stage-user {
    background-color: #6d456f;
}

span.support-request-stage-customer {
    background-color: #006c16;
}

span.support-request-stage-action {
    background-color: #030da6;
}

.support-request-tag {
    border-radius: 0.2em;
    padding: 0 0.3em;
    color: white;
    display: inline-block;
    margin: 0.1em 0;
}

    .support-request-tag.support-request-assigned-group {
        background-color: #065b06;
    }

    .support-request-tag.support-request-assigned-user {
        background-color: #101075;
    }

    .support-request-tag.support-request-redirected-to-group {
        background-color: #64641d;
    }

td.support-request-stage {
    background-color: #d3e1d5;
    border-radius: 0.3em;
    border: 1px solid lightgray;
    overflow: hidden;
    max-width: 40em;
}

div.support-request-stage-head {
    color: #639cce;
}

div.support-request-stage-row {
    margin: 0.2em;
}

td.support-request-stage-separator {
    border-bottom: 2px dashed gray;
}

.support-request-action-box {
    background-color: #f0f5ff;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px solid lightgray;
}

div.support-request-action-row {
    margin: 0.2em 0;
}

textarea.support-request-note {
    width: 100%;
    box-sizing: border-box;
}

div.support-request-action-list-item {
    display: inline-block;
}

div.sub-type-checkmark {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    vertical-align: middle;
    margin-left: 0.5em;
}

    div.sub-type-checkmark.invalid {
        background-image: url('../../Images/Check/check-invalid.svg');
    }

    div.sub-type-checkmark.valid {
        background-image: url('../../Images/Check/check-valid.svg');
    }

    div.sub-type-checkmark.error {
        background-image: url('../../Images/Check/check-duplicate.svg');
    }

    div.sub-type-checkmark.loading {
        background-image: url('../../Images/Shared/loading-symbol.svg');
        animation-name: loading-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
