div.support-request-count-indicator {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    background-color: #d5c08e;
    padding: 0.3em;
    min-width: 1em;
    text-align: center;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
