.data-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8em;
}

    .data-table > tbody > tr {
        border-bottom: 1px solid #f0ebeb;
    }

        .data-table > tbody > tr:first-child,
        tr.table-head {
            background-color: #292929;
            color: white;
        }

        .data-table > tbody > tr.interactable-data-row {
            cursor: pointer;
        }

        .data-table > tbody > tr > td:not(:last-child), .data-table > tbody > tr > th:not(:last-child) {
            border-right: 1px dashed gray;
        }

        .data-table > tbody > tr > td {
            padding: 4px;
        }

            .data-table > tbody > tr > td:last-of-type {
                text-align: center;
                white-space: nowrap;
            }

                .data-table > tbody > tr > td:last-of-type > *:not(:last-child) {
                    /*margin-right: 1em;*/
                }

    .data-table td[title] {
        text-align: center;
        transition: 0.3s all ease;
    }

        .data-table td[title]:hover {
            cursor: default;
            background-color: rgb(155, 222, 113);
        }

    .data-table form {
        display: inline-block;
        vertical-align: top;
    }

    .data-table > tbody > tr:nth-of-type(odd):not(:first-child):not(.total-row) {
        background-color: #ececec;
    }

    .data-table > tbody > tr.interactable-data-row:hover, .data-table > tbody > tr.selected {
        background-color: #4bbf75 !important;
    }

th.partial-table-head {
    background-color: #878505;
    color: #ffd2d2;
}

.table-pages {
    line-height: 20px;
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
    font-family: Arial;
    border-bottom: 1px solid #f0ebeb;
    background-color: #e6e6e6;
}

    .table-pages span {
        float: left;
    }

    .table-pages div.page-numbers-container {
        display: inline-block;
    }

.page-link {
    min-width: 20px;
    background-color: #c2c2c2;
    display: inline-block;
    margin: 3px;
    box-shadow: 1px 1px 0px lightgray;
}

    .page-link:not(.disabled):hover {
        background-color: white;
    }

    .page-link.disabled {
        background-color: whitesmoke;
        cursor: default;
    }

table.data-table > tbody > tr > td.system-log-display {
    white-space: unset;
}

    table.data-table > tbody > tr > td.system-log-display a {
        text-decoration: underline;
        color: #2401d5;
        font-style: italic;
        padding: 0 0.5em;
        transition: 0.5s all ease;
    }

        table.data-table > tbody > tr > td.system-log-display a:hover {
            color: #8888fd;
            text-decoration: none;
        }

    table.data-table > tbody > tr > td.system-log-display span.error {
        color: orange;
    }

    table.data-table > tbody > tr > td.system-log-display span.important {
        color: #f05a35;
    }

table.data-table > tbody > tr.highlighted-row {
    background-color: #ffcf76 !important;
}

table.data-table > tbody > tr.greenlit-row {
    background-color: #d1eaa5 !important;
}

table.data-table > tbody > tr.total-row {
    background-color: #292929;
    color: white;
}
