<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="main" xsi:type="File" createDirs="true" fileName="Logs/Main/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}" />
    <target name="sms" xsi:type="File" createDirs="true" fileName="Logs/SMS/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}" />
    <target name="bills" xsi:type="File" createDirs="true" fileName="Logs/Scheduler_Bills/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}" />
    <target name="ebills" xsi:type="File" createDirs="true" fileName="Logs/Scheduler_EBills/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}"/>
    <target name="scheduler" xsi:type="File" createDirs="true" fileName="Logs/Scheduler/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]" />
    <target name="automatic_payments_exceptions" xsi:type="File" createDirs="true" fileName="Logs/Automatic Payments/Exceptions/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}" />
    <target name="automatic_payments_success" xsi:type="File" createDirs="true" fileName="Logs/Automatic Payments/Success/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}" />
    <target name="automatic_payments_fail" xsi:type="File" createDirs="true" fileName="Logs/Automatic Payments/Fail/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}" />
    <target name="scheduled_sms" xsi:type="File" createDirs="true" fileName="Logs/Scheduled SMS/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="${message}=====&gt; [${level}] [${longdate}]${newline} ${exception:format=toString,Data}" />
    <target name="sms_internal" xsi:type="File" createDirs="true" fileName="${basedir}/logs/${logger}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="[${level}][${longdate}]=====&gt;${message}${newline}${exception:format=toString,Data}"/>
    <target name="scheduled_tasks" xsi:type="File" createDirs="true" fileName="${basedir}/logs/${logger}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}.log" layout="[${level}][${longdate}]=====&gt;${message}${newline}${exception:format=toString,Data}"/>
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger minlevel="Error" writeTo="sms_internal" name="SMSInternal" final="true"/>
    <logger name="sms_exceptions" writeTo="sms" final="true" />
    <logger name="issue_bill_exceptions" writeTo="bills" final="true" />
    <logger name="issue_ebill_exceptions" writeTo="ebills" final="true" />
    <logger name="scheduler" writeTo="scheduler" final="true"/>
    <logger name="automatic_payments_exceptions" writeTo="automatic_payments_exceptions" final="true"/>
    <logger name="automatic_payments_success" writeTo="automatic_payments_success" final="true"/>
    <logger name="automatic_payments_fail" writeTo="automatic_payments_fail" final="true"/>
    <logger name="scheduled_sms" writeTo="scheduled_sms" final="true"/>
    <logger name="scheduled_tasks" writeTo="scheduled_tasks" final="true"/>
    <logger minlevel="Warn" writeTo="main" name="*"/>
    <logger name="scheduler" writeTo="scheduler" final="true"/>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
