<RadiusR_Manager.Properties.Settings>
	<setting name="DefaultLang" serializeAs="String">
		<value>tr-tr</value>
	</setting>
	<setting name="CookieExpiration" serializeAs="String">
		<value>12:00:00</value>
	</setting>
	<setting name="ArchiveManagerUrl" serializeAs="String">
		<value>http://10.184.3.63:7070/</value>
	</setting>
</RadiusR_Manager.Properties.Settings>
