
@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.InfrastructureCheck;
}

<div class="centered">
    <div class="button-row">
        @Html.ActionLink(RadiusR.Localization.Pages.Common.CheckByBBK, "InfrastructureCheckByBBK", null, new { @class = "link-button iconed-button next-button large-button"})
    </div>
    <div class="button-row">
        @Html.ActionLink(RadiusR.Localization.Pages.Common.CheckByPSTN, "InfrastructureCheckByPSTN", null, new { @class = "link-button iconed-button next-button large-button" })
    </div>
</div>

