<div class="sliding-box-slide">
    <a href="@Url.Action("UnstableClients", "Client")">
        <div>
            @RadiusR.Localization.Pages.Common.UnstableConnections
        </div>
        <div style="padding: 1em; font-size: 1.2em;">
            @ViewBag.UnstableClientCount
        </div>
    </a>
</div>

<div class="sliding-box-button-strip">
    <div class="sliding-box-button selected"></div>
    @for (int i = 1; i < 1; i++)
    {
        <div class="sliding-box-button"></div>
    }
</div>
<div class="link-box-prestine"></div>