<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RadiusREntities" connectionString="metadata=res://*/RadiusRModel.csdl|res://*/RadiusRModel.ssdl|res://*/RadiusRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.184.3.63\devsqlserver;initial catalog=RadiusR_Sarnet;persist security info=True;user id=sa;password=dev@netspeed#123;multipleactiveresultsets=True;connect timeout=60;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="smsnnPortBinding" />
        <binding name="IntegrationServiceSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="FastCheckoutServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://integrationservicewithoutmtom.digitalplanet.com.tr/IntegrationService.asmx" binding="basicHttpBinding" bindingConfiguration="IntegrationServiceSoap" contract="NetInvoiceTestService.IntegrationServiceSoap" name="IntegrationServiceSoap" />
      <endpoint address="http://soap.netgsm.com.tr:8080/Sms_webservis/SMS" binding="basicHttpBinding" bindingConfiguration="smsnnPortBinding" contract="NetGsm.smsnn" name="smsnnPort" />
      <endpoint address="https://test.mobilexpress.com.tr/checkout/v7/FastCheckoutService.asmx" binding="customBinding" bindingConfiguration="FastCheckoutServiceSoap12" contract="MobilExpressServiceReference.FastCheckoutServiceSoap" name="FastCheckoutServiceSoap12" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
