
@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.VPOSPayment + "-" + RadiusR.Localization.Pages.Common.FailedPay;
}

<div class="centered">
    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>
    <div style="margin-top: 1em;">
        <a href="@ViewBag.BackUrl" class="link-button iconed-button back-button">@RadiusR.Localization.Pages.Common.Back</a>
    </div>
</div>

