@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.NASNetmapViewModel>

<div style="display: inline-block;">
    @foreach (var item in Model)
    {
        <div>
            @Html.DisplayFor(modelItem => item.MapView)
        </div>
    }
</div>