@model RadiusR_Manager.Models.RadiusViewModels.BillViewModel.BillPaymentTypeDescription

@Html.DisplayFor(model=>model.PaymentTypeID)<br/>
<span class="payment-gateway-name">@Html.DisplayFor(model=>model.PaymentGateway)</span>
