<div class="waiting-progress">
    <div class="waiting-progress-message">@RadiusR.Localization.Pages.Common.Processing</div>
    <div class="waiting-progress-image-wrapper">
        <div class="waiting-progress-image"></div>
        <div class="waiting-progress-timer"></div>
    </div>
</div>
