<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpsBinding_IAddressQueryService" maxReceivedMessageSize="2147483647">
                <security mode="Transport"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://nsadres.netspeed.com.tr/AddressQueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAddressQueryService" contract="AddressQueryServiceReference.IAddressQueryService" name="BasicHttpsBinding_IAddressQueryService"/>
          <!--<endpoint address="http://localhost:18154/AddressQueryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressQueryService"
                contract="AddressQueryServiceReference.IAddressQueryService"
                name="BasicHttpBinding_IAddressQueryService" />-->
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
