<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RezaB.Files" version="1.0.1" targetFramework="net472" />
  <package id="RezaB.Files.FTP" version="1.0.2" targetFramework="net472" />
  <package id="RezaB.Files.Local" version="1.0.1" targetFramework="net472" />
  <package id="SSH.NET" version="2020.0.0" targetFramework="net472" />
</packages>