<div class="confirm-box-container confirm-message">
    <div class="confirm-cover">
        <div class="confirm-box">
            @RadiusR.Localization.Pages.Common.ConfirmText
            <div style="margin-top: 2em;">
                <input type="button" name="No" value="@RadiusR.Localization.Pages.Common.No" class="link-button iconed-button cancel-button" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" name="Yes" value="@RadiusR.Localization.Pages.Common.Yes" class="link-button iconed-button accept-button" />
            </div>
        </div>
    </div>
</div>
