<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="NLog" version="4.7.5" targetFramework="net452" />
  <package id="RezaB.API.MobilExpress" version="1.0.0" targetFramework="net452" />
  <package id="RezaB.NetInvoice" version="1.0.0" targetFramework="net452" />
  <package id="RezaB.NetInvoice.Wrapper" version="1.0.0" targetFramework="net452" />
  <package id="RezaB.Scheduling" version="1.0.3" targetFramework="net452" />
</packages>