
@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.StateChangeError;
}

<div class="centered" style="margin-top: 6em;">
    <img src="/Content/Images/Shared/warning.svg" alt="" class="error-page-sign">
    <div class="error-page-head">
        @RadiusR.Localization.Pages.Common.StateChangeError
    </div>
    <div class="error-page-description">
        @ViewBag.ErrorDetails
    </div>
    <div class="button-row centered">
        <a href="@ViewBag.BackUrl" class="link-button iconed-button back-button">@RadiusR.Localization.Pages.Common.Back</a>
    </div>
</div>

